@import "tailwindcss";
@plugin "@tailwindcss/typography";

::selection {
  background-color: #0f0f0f;
  color: white;
}

.go-diagram-scope {
  counter-reset: dia-diagram;
}

.go-diagram {
  counter-increment: dia-diagram;
}

.go-diagram-number::before {
  content: "Dia. " counter(dia-diagram) ".";
}
